.pesquisa {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.minhaImagem {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 7px;
}

.minhaImagem img {
    border-radius: 7px;
}

.titlee{
    margin: 10px 0 5px 10px;
}
